/* ----------------JAVACRIPT-------------------------
* founder of js- Brendan Eich 
* JS is a scripting language used for creating client side dynamic websites.
* It is not a compiled language whereas it is a translated language where the js code is translated by a inbuit js engine in all the web browsers.
      ex: chrome --> v8
          firefox --> spidermonkey 
* case sensitve language
* it is a oop language.
* Naming history :
     Mocha --> Livescript --> JavaScript
     

 -------------------JS ENVIRONMENT -----------------
  * SUBLIME TEXT3
  * ATOM
  * VS CODE
  * LARAGON - used for website developmentd for projects.
  
 ------------------RUNNING JS USING NODE------------
 * download node software for your windows version.
 * open command window:
 * type node filename.js
 
  ------------------INLINE & OUTLINE JS-------------
  INLINE JS - writing code inside the html file (js code should be written inside <script></script> ).
  OUTLINS JS - writing code in separate s file and linking it with html file. 
       linking syntax---> <script src="file.js"> </script>
*/

//console logging(F12 opens console) --> displays only in console not in webpage. which is used for debug
//to open console click on inspect in your website. 
console.log("this is console logging");

not necessary to give ; end of the line
//alerting
alert("this is a alert message");


//--------------------COMMANDS----------------------
// single line command --> //
//  multiline command --> /* */


//--------------------VARIABLES----------------------

//VARIABLE KEYWORDS:
// 1. var --> supports in all versions including old versions
var name="vennila";

*) global scope
*) can redeclare

*) ex

var d=100;
{
    var d=200;
}
console.log(d);    o/p=200

// 2. let --> introduced in 2015 
let x=10;

*) only block scope //if we decalre in loop we can't access outside of the loop
*) we can't redeclare

*) ex
let d=100;
{
    let d=200;
}
console.log(d);   o/p=100

// 3. const --> introduced in 2015. [note : variables declared with const cannot be changed.]
const y=20.56;
// 4. without keyword
z=10+5;

// concatenation of variabLE:
alert("my name is "+name);
let msg="console msg with name"+ name;
console.log(msg);

// naming conventions fo variables ----> similar to c.
// NOTE : default value of variabe --> "undefined".


feature     var    let    const
scope      function  block   block
hoisting   yes       no      no
reassign   yes       yes     no
redeclare  no        no      no


//----------------------DATATYPES---------------------
/* datatypes are classified into two types :
* PRIMITIVE DATATYPES :                  * NON-PRIMITIVE DATATYPES :
    ->string                                  ->objects
    ->integer                                 ->funtions
    ->boolean                                 ->arrays
    ->null
    ->undefined
*/
let n="hello"; //string let old version 
let k=20; //integer
let def=undefined; //undefined
def=90; // we can reassign the undefined variables.
let de; //undefined
let key=null; // this specifies that as of now no value is assigned. we can reassign the values.
key=10;
let bool=true; //boolean

/* -----------------JAVASCRIPT - DYNAMIC TYPING------------
*Languages are classified into 2 types based on datatype declaration:
    * STATIC TYPED - datatypes are mentioned before the variable ( eg : int a=10; ). --> C,JAVA,C++
    * DYNAMIC TYPED - datatypes are not mentioned before the variable ( eg : name="sow"; ). --> Python , JS.

*In JS , typeof <varname> returns the datatype of that particular variable belongs to(type in console).

[ NOTE : datatype of null returns object --> typeof key returns "object" ]
*/


//---------------------OBJECTS IN JS------------------------
/*  object specifies the named values for all the properties.
    objects can hold more than one datatype and values.
*/
//way of declaring objects.
let person = {};    //empty object
//multiple property objects syntax :
/*
  let <objname> = {
    key1 : value1,
    key2 : value2,
    .
    .
    .
    keyn : value n
  };
  [NOTE : KEY SHOULD BE UNIQUE]
*/
let obj = {
    carname : "toyota",
    colour : "black",
    insurance : true,
    number : 124
};
console.log(obj); //shows all the properties inside obj
//way of accessing object :
//1.USING DOT OPERATOR :
console.log(obj.number);
//2.USING BRACKET 
console.log(obj["carname"]);
//inner object creation :
let parent ={
    mother : "karpagam",
    father : "ramesh",
    child : {
        elder : "sowndarya",
        younger : "yogesh"
    }
};
console.log(parent);
console.log(parent.child);
console.log(parent.child.elder);

/*
----------------------------JAVASCIPT OPERATORS----------------------
   1.ARITHMETIC OPERATOR  --> (+ , - , * , /(returns exact decimal) , % , **(exponential))
   2.COMPARISON OPERATOR --> (< , > ,<= , >= , ===(equality operator) , !==) returns boolean.
   we can also compare strings using comparator operator.
   3.LOGICAL OPERATOR
   4.ASSIGNMENT OPEARATOR --> (= , += , -= , *= , /=)
   5.BITWISE OPERATOR
   6.INCREMENT/DECREMENT --> (++ ,--)
   7.TERNARY OPERATOR -->(CONDITION?TRUE:FALSE)
*/
console.log("operators");
console.log(2**3); //2^3=8
console.log(2===3);
console.log(2!==3);
console.log("hi"==="hi");
console.log("aa">"bb");
console.log("1"<6); //automatically convert string to int and then check.
console.log(true || false);
console.log("true" || "false"); //output: false;
console.log("false" || "");//output: false
//falsy --> undefined , null,0,false,"",'',NaN 
//truthy -->other than falsy


//-----------------------------CONDITIONAL STATEMENTS(IF-ELSE,SWITCH CASE) -------------------------------------
//IF-ELSE STATEMENT - same syntax as C and JAVA
 if("Hot"=="hot")
 {
    console.log("whether is hot!!");
 }
 else
 console.log("whether is cool!!");

 //getting date using date fuction: Date class is used to get current date and time
 let date=new Date();
 console.log(date);
 console.log(date.getHours());

 //SWITCH SATETEMENT - same as java
 switch('a')
 {
    case 'b':
        console.log("successful!");
        break;
    default:
        console.log("default block");
 }

 //----------------------------------------ARRAYS------------------------------------------------------------
 /*
 *Arrays is a object with collection of similar type of elements.
 *There are 3 ways to construct array*/

 //* 1. Using array literal :
 let arr=["red","white","black"]; //empty array
 console.log(arr);//prints all the elements
 console.log(arr[0]);//prints the value for particular element in the specfied index

 //* 2.By creating instance of array(using new keyword)
 let ar=new Array(5);
 
 //ar[0]="hello";
 console.log(ar);

 //* 3. Using array constructor : we can create instance of array by passing value as arguments
 let a=new Array(3,2,3);
 console.log(a);

 //defining arrays :
 //we can define array with mixed data types
 let nums=[1,2,'hi'];
 console.log(`mixed array ${nums}`);
 //we can also give array inside an array
 let numsa=[1,2,3,[4,5]];
 console.log(numsa);
 console.log(numsa[3]);
 console.log(numsa[3][0]); //prints 4
/*ARRAY METHODS:
* fill()-fills the array using specified element
* reverse()-reverse the elements in the array
* push()-it adds the elements at the end of the array and returns the new length
* pop()-it removes and returns the last element of the array
* sort() - sorts the array
*/
a.sort();
console.log(a);
a.fill(1);
console.log(a);
let newlength=a.push(10);
console.log(newlength);
console.log(a);
let r=a.pop();
console.log(r);

//---------------------------------------STRINGS----------------------------------------------------------------
/*
*JS String is an object that represents a sequence of characters.
*There are 2 ways to create string in JS*/
            //1. using string literal
let str="helloworld";
            //2.Using new keyword
let st=new String("hello");
console.log("string length = " + str.length);
//STRING METHODS:
// 1. charAt()
//2. concat()
//3.toUpperCase()
//4.toLowerCase()
//5.length()
//6.indexOf()
//7.substr()
//8.slice()--> same as substring method 
console.log("slice method-->" + str.slice(1,3));
console.log("slice method reverse-->" +str.slice(-5)); //prints from last k characters
console.log("substr method-->"+ str.substr(1,4));//prints from starting index till k characters.
console.log("string upper = " + str.toUpperCase());
console.log("string lower = " + str.toLowerCase());



 //-------------------------------LOOPING STATEMENTS-------------------------------------------------------------
 /*
  * FOR loop - same as java
  * WHILE loop - same as java
  * DoWHILE loop - same as java 
  * FOR..IN loop
  * FOR..OF loop
 */
// FOR IN LOOP: 
/*
*Forin loop can be used in both ojects and arrays.
*In objects,it travers the key
*In arrays it traverses the index of the array 
*/
for(let i in arr)
{
console.log(i);  //prints the index
}
// FOR OF LOOP: 
/*
*Forin loop can be used in both ojects and arrays.
*In objects,it travers the value
*In arrays it traverses the elements of the array 
*/
for(let i of arr)
{
console.log(i);  //prints the elements 
}


//-------------------------------------FUNCTIONS--------------------------------------------------
//function keyword is used to create function 

//function definition:
let hob=["dancing","singing"];
let ms=`my hobbies are ${hob}`; // another way of concatenating values "${}"
function add(a,b)
{
    console.log(ms);
    
}
//function call
add(5,5);
//eg with return statement :
function sub(c,d)
{
    return c+d;
}
let res=sub(10,20);
console.log(res);

//----------------------------------------JS OBJECT & OOP--------------------------------------------
let nam="mahesh";
let dob="25/08/2002";
let ph=6578;
let address={
    state:"tamilnadu",
    dis:"cbe",
    greeting :function()  //creating function inside the object
    {
        console.log("welcome to " + this.state); //this keywod is used to access variables inside the objects.
    }
};
console.log(address.greeting());

//-------------------------------------------FACTORY FUNCTIONS------------------------------------------
//used for code simplicity
function greet(n) //returning objects
{
    return {
        n, //if key and values are same we can mention like this
        welcome(){
            console.log("welcome " + n);
        }
    }
}
let trisha= new greet("trishaa");  //new keyword is used to create objects
let hari=new greet("hari");
trisha.welcome();
hari.welcome();


//-------------------------------------------BOM-------------------------------------------------------------
/*
*BOM stands for Browser Object Model.
*BOM is used to interact with the browser.
*Document object represents the html document.
*if the default object of the browser is window, then we can call all the methods of the browser using window.
*/
window.alert("bom message");

/* 1. WINDOW OBJECT:

*window object represents a window in browser.
*this is automatically created by the browser.
*it is not the object of javacript like string,array,date,...

Methods of window object:
*alert() --displays the alert box containing message with ok button.
*confirm() --displays dialog box containing message with ok and cancel button.
*prompt() --displays the dialog box to get input from the user.
*open() --opens the new window.
*close()--close the current window.

Examples are:
*/
var v=confirm("click ok to continue");
if(v==true)
alert("THANKYOU FOR RESPONDING");
var p=prompt("who are u");
alert("myself "+p);

/*2. HISTORY OBJECT:

*The JavaScript history object represents an array of URLs visited by the user. 
*By using this object, you can load previous, forward or any particular page.
*The history object is the window property, so it can be accessed by:
                            window.history  
//METHODS OF HISTORY OBJECT:
*length - returns the length of the history URLs.
1	forward()	loads the next page.
2	back()	loads the previous page.
3	go()	loads the given page number.
*/
//Examples are:
history.back();//for previous page  
history.forward();//for next page  
history.go(2);//for next 2nd page  
history.go(-2);//for previous 2nd page

/*
3. SCREEN OBJECT:

*The JavaScript screen object holds information of browser screen. It can be used to display screen width, height, colorDepth, pixelDepth etc.
*The screen object is the window property, so it can be accessed by:

                           window.screen(or) screen
PROPERTIES:
1	width	returns the width of the screen
2	height	returns the height of the screen
3	availWidth	returns the available width
4	availHeight	returns the available height
5	colorDepth	returns the color depth
6	pixelDepth	returns the pixel depth.
Examples are:
*/

console.log("screen width "+screen.width);
console.log("screen height "+screen.height);


//------------------------------------------------------DOM---------------------------------------------------
/*
*DOM stands for document object model
*The document object represents the whole html document.
*When html document is loaded in the browser, it becomes a document object.
*it is the root element that represents the html document. It has properties and methods.
*it is the root element that represents the html document. It has properties and methods.
*it is the object of window. So it can be written as
                        window.document
*The W3C Document Object Model (DOM) is a platform and language-neutral interface that allows programs and scripts to dynamically access and update the content, structure, and style of a document."
METHODS OF DOCUMENT OBJECTS:

write("string")	writes the given string on the doucment.
writeln("string")	writes the given string on the doucment with newline character at the end.
getElementById()	returns the element having the given id value.
getElementsByName()	returns all the elements having the given name value.
getElementsByTagName()	returns all the elements having the given tag name.
getElementsByClassName()	returns all the elements having the given class name.

*/
//Accessing field value by document object: value is the property, that returns the value of the input text. 

//var name=document.form1.name.value;  
  
/*<form name="form1">  
Enter Name:<input type="text" name="name"/>  
<input type="button" onclick="printvalue()" value="print name"/>  
</form>  */

//--------------------------------------------OOP--------------------------------------
//classes
class login{
    constructor(name,age)
    {
        this.name=name;
        this.age=age;
    }
    signin()
    {
        console.log('hi',this.name);
    }
}
let object =new login('sowndarya',22);

//-------------------------------------Error handling-------------------------------------

 try{
    let num='r'; //not a number
    if(isNaN(num))
    throw 'please enter valid number'; //throws to catch block
    console.log(num*2);
}
catch(err){
  console.log(err);
}
finally{
    console.log('finally block');
} 

//----------------------------Synchronous vs asynchronous JS------------------------------
/*
Synchrounous JS :
* JS is basically synchrounous in nature.
* in synchrounous JS, one step starts executing only after the previous step is completed.
* Synchronous is blocking.

Asynchronous JS:
* in asynchronous JS, steps execute simultaneously.
* Asynchrounous is not blocking.
 */
console.log('step 1 sync');
console.log('step2 sync');
console.log('step 3sync');
setTimeout(()=>console.log('step 1 async'),4000); //takes minimum 4 sec foe execution
setTimeout(()=>console.log('step 2 async'),2000);
//setInterval(()=>console.log('hi'),2000); //prints every 2 sec without stopping
/*Execution order:
* - global scope variables or func execute first in call stack.
  - timeout func are handovered to browsers.
  - after the time interval for the particular timeout func,browser adds it to queue.
  - after call stack gets empty, all the func inside queue executes based on FIFO order.
*/

//-------------------------------------------PROMISE----------------------------------------
/* 
* promise is an object representing the eventual completion or failure of the asynchronous operation.
* promise is in any of the below states:
                   i) pending
                  ii) fullfilled -->resolve
                 iii) rejected --> reject
* if fullfilled , it executes the function in then block.
* if rejected , it executes the function in catch block.
*/
//promise defintion
let prom = new Promise((resolve,reject)=>{    
    let success=true;
    if(success)
    resolve('hi you won')
    else 
    reject('you lost')
})

//using promise
//prom.then(()=>console.log('hurray!! you won'))
//.catch(()=>console.log('youlost!!'));


//promise definition using function
function promi()
{
    return new Promise((resolve,reject)=>{
        let success=false;
    if(success)
    setTimeout(resolve,1000,500); //(function,delay,func parameter)
    else 
    setTimeout(reject,2000,0);  //asynchronous operations
    })
}
promi().then((amt)=>console.log(`this is function promise sucess and u won rs.${amt}`))
.catch((rps)=>console.log(`you won rs.${rps}`));

//promise methods:
// 1. Promise.all() --> prints the array only if all are success.  Syntax -- > Promise.all([obj1,obj2,obj3]);
//2. Promise.any() --> prints the array only if all are failure.

//---------------------------------------------Async and Await---------------------------------------
//Async and await are the one of the method to call promise call back funtions.
//alternative for .then and .catch
//await should be given inside async function
//used to avoid the need to explicitly configure promise chains.

let asyncpro = new Promise((resolve,reject)=>{    
    let success=false; //if we give false it will show error.so to handle reject we need to use try catch
    if(success)
    setTimeout(resolve,2000,'hi you won')
    else 
    reject('you lost')
})

async function asyncstatus()
{
    try{
         console.log('async and await');
        res =  await asyncpro
        console.log(res);
        }
    catch(err)
    {
        console.log(err);
    }
        
}

asyncstatus()   //async function only executes after the function call

//-----------------------------------------JSON------------------------------------------
/*
 * JSON- javascript object notation
* keys should be given inside double quotes
 */

let json1={
    "name":"sowndarya",
    "details":{
        "age":21,
        "addrs":"cbe"
    }
}
console.log(json1.name);
console.log(json1);
console.log(json1.details);

//array of json objects:

let json2=[
    {
        "name":"sowndarya",
        "details":{
            "age":21,
            "addrs":"cbe"
        }
    },
        {
            "name":"sneha",
            "details":{
                "age":21,
                "addrs":"cbe"
            }
        },
        {
            "name":"vennila",
            "details":{
                "age":21,
                "addrs":"cbe"
            }
        }
];
console.log(json2);
console.log(json2[1]);
console.log(json2[1].name);

//JSON.parse() --> converts string to json doc
let json3=`[
    {
        "name":"sowndarya",
        "details":{
            "age":21,
            "addrs":"cbe"
        }
    },
        {
            "name":"sneha",
            "details":{
                "age":21,
                "addrs":"cbe"
            }
        },
        {
            "name":"vennila",
            "details":{
                "age":21,
                "addrs":"cbe"
            }
        }
]`;
let json4=JSON.parse(json3);
console.log(json4);

//JSON.stringify --> converts json to string

let json5={
    "name":"sowndarya",
    "details":{
        "age":21,
        "addrs":"cbe"
    }
}
let jsonstr=JSON.stringify(json5);
console.log(jsonstr);


//---------------------------------------------API-------------------------------------------
/**
 * API - application programming interface
 * API is a software that connects apllications to fetch and access the required information.
 * Web APIs provides services such as web notification and storage --> accessed through HTTP protocol.
 
 * API PROTOCOLS:
 *               REST
 *               JSON-RPC(remote procedural call protocol) and XML-RPC - one result is expected from multiple parameters.
 *               SOAP (simple object access protocol) 
 
 * Example of API :
 * searching for information on the intenet using app
 * Ordering foood(kitchen - system , your table - user end , waiter - api)
 
 * API In daily life :
 * weather monitoring
 * for logging in
 * payments
 * Bookings
 */

//----------------------------------------------API FETCH-------------------------------------------
//API fetch starts the process of fetching a resource from a server.
//allows the web browser to make HTTP request to web browsers.

//GET fetchAPI:

fetch('https://reqres.in/api/users')
.then((res)=>res.json())  //first step : convert the fetched doc into json doc
.then((msg)=>console.log(msg.data))  //printing the json doc
.catch((err)=>console.log(err)); //if resolved,executes the then. if rejected executes the catch. 

//POST fetchAPI --> creating own api

fetch('https://jsonplaceholder.typicode.com/todos',{
     method:'POST',
     headers:{'content-type':'application/json'},
     body:JSON.stringify({
        name:"sowndarya",
        title:"engineer",
        job:"SDE"
     })
})
.then(res=>res.json())
.then(msg=>console.log(msg)); //fake response not really inserted


